{% spaceless %}
<div class="row">
    <div class="col-md-12"> 
        <form class="form-horizontal"> 
            <div class="form-group"> 
                <label class="col-md-4 control-label" for="name">{{'backend.item.status'|trans}} <em>*</em></label>  
                <div class="col-md-5"> 
                    <select id="item-status-{{itemId}}" class="form-control">
                        {% for value,key in statusList %}
                            <option value="{{key}}" {% if key == status %}selected="selected"{% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div> 
            </div> 
        </form> 
    </div>  
</div>
{% endspaceless %}