{% extends 'FrontendBundle:Default:main.html.twig'  %}
{% block title %}About - Agile SCRUM{% endblock %}
{% block content_header %}
    {#    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/about-bg.jpg')}}')">#}
    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/scrum2.png')}}'); height: 560px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {#<div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>#}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <legend class="text-center">
                Get started immediately. No training needed. 
            </legend>
        </div>

        <div class="post-preview">
            <h2>Team and Roles</h2>
            <ul>
                <li>
                    Create different roles
                </li>
                <li>
                    Create teams by projects
                </li>
                <li>
                    Select product owners and stakeholders
                </li>
                <li>
                    Keep track of team velocity
                </li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>Backlog Management</h2>
            <ul>
                <li>
                    Use drag-and-drop and cut & paste
                </li>
                <li>
                    Easily see the status of each item
                </li>
                <li>
                    Break backlog items down into tasks
                </li>
                <li>
                    View backlog items from earlier sprints
                </li>
                <li>
                    View the details of a backlog item without leaving the page
                </li>
                <li>
                    Use tags to organize your backlog
                </li>
                <li>
                    Easy filter bar to search items in backlog
                </li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>Sprint Planning</h2>
            <ul>
                <li>
                    Create and edit sprints easily
                </li>
                <li>
                    Estimate in points, or hours
                </li>
                <li>
                    Plan sprints with multiple teams
                </li>
                <li>
                    Easily see which backlog item fits where
                </li>
                <li>
                    Easily see if a team is over-allocated
                </li>
                <li>
                    Handle free days, work in weekends, etc.
                </li>
                <li>
                    Add or remove backlog items during a sprint to fit available time
                </li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>Task Board</h2>
            <ul>
                <li>
                    Incredibly easy-to-use task boards
                </li>
                <li>
                    Like using a physical wall
                </li>
                <li>
                    Customize your own task board
                </li>
                <li>
                    Move items using drag-and-drop
                </li>
                <li>
                    View item details without leaving the page
                </li>
                <li>
                    Everything updates in realtime
                </li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>Burndown</h2>
            <ul>
                <li>
                    See burndown charts for each sprint
                </li>
                <li>
                    Burndown charts update immediately
                </li>
                <li>
                    Get precise burndown that handles free days, work in weekends, etc.
                </li>
            </ul>
        </div>


        <div class="post-preview">
            <h2>Time Tracking</h2>
            <ul>
                <li class="features-feature">
                    Track time used on backlog items and tasks
                </li>

                <li class="features-feature">
                    Get a time log for use in billing and accounting
                </li>

                <li class="features-feature">
                    View the time log for individual persons or teams,
                    and for sprints or calendar periods
                </li>
            </ul>
        </div>

    {% endblock %}