{% macro showMessage(key, type) %}
    {# success info danger warning #}
    {% for message in app.session.flashbag.get(key) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-{{type}} alert-dismissable alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  {{message|raw}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}