/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2016, 7:01:38 PM
    Author     : cesargiraldonaranjo
*/
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ol.vertical {
    margin: 0 0 9px;
    min-height: 10px;
    float: left;
    list-style-type: none;
    padding: 0;
    float: left;
}

ol.default li {
    cursor: pointer;
    float: left;
    width: 100%;
    min-height: 40px;
    height: auto;
    border: 1px solid #cccccc;
}

ol.vertical li {
    border: 1px solid #cccccc;
    display: block;
    margin: 5px;
    padding: 5px;
    line-height: 18px !important;
    float: left;
    width: 100%;
    min-height: 45px;
    height: auto;
}

ol.vertical ol {
    padding-left: 25px !important;
}

.list-group-item {
    border: none !important;
}

.dropdown-menu li {
    height: 24px !important;
    border: none !important;
    line-height: 0px !important;
    min-height: 1px !important;
    padding: 0px !important;
    margin: 1px 0px !important;
}

.dropdown-menu li.divider {
    height: 1px !important;
    margin: 7px 0px !important;
}
