/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2015, 2:36:49 PM
    Author     : cesargiraldonaranjo
*/
.ul-languages, .ul-languages li {
    width: 100% !important;
    min-width: 100%;
}

.date-selector select {
    width: 100px;
    margin-right: 4px;
    height: 36px;
}

.date-selector-sm select {
    width: 80px;
    margin-right: 4px;
    height: 36px;
}

.container-buttons form {
    display: inline !important;
}

.notification a.option {
    display: inline !important;
}

#project-menu li.active a {
    color: #fff !important;
}

#project-menu li.active {
    background-color: #000 !important;
}

#rangevalue{
    font-weight: bold !important;
    font-size: 16px !important;
    height: 20px !important;
}

.no-padding-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

em {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    padding-left: 4px;
    vertical-align: middle;
}

.bar {
    height: 18px;
    background: green;
}

.border-radius-left {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.border-radius-right {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
@media(min-width:768px) {
    .rstable {
        overflow: visible;
    }
}

.label-consecutive {
    margin-top: 10px;
}

h1.page-header {
    margin: 18px 0 20px !important;
}

.main-item {
    border-bottom: 1px solid lightgray; 
    padding-top: 8px; 
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.small-btn-group {
    width: 58px;
}

.container-child {
    padding-left: 30px; 
}
.list-group {
    margin-bottom: 0px !important;
}
.list-group-item {
    padding: 8px !important;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.label-item-times {
    padding: 0px;
}

.custom-well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 0;
  min-height: 20px;
  padding: 15px;
}
.hr {
  border-bottom: 1px dashed #c0c0c0;
  border-top: medium none;
  display: inline-block;
  margin: 4px 0;
  width: 100%;
}

.project-link {
    cursor: pointer;
}

.panel-head-details {
    height: 50px;
}
.panel-head-details h3 {
    line-height: 26px;
}

.small-margin-top {
    margin-top: 4px;
}

.span-effort img {
    width: 19px;
    margin-left: 10px;
}