/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 11, 2015, 2:36:49 PM
    Author     : cesargiraldonaranjo
*/
.ul-languages, .ul-languages li {
    width: 100% !important;
    min-width: 100%;
}

.date-selector select {
    width: 100px;
    margin-right: 4px;
    height: 36px;
}

.container-buttons form {
    display: inline !important;
}

.notification a.option {
    display: inline !important;
}

#project-menu li.active a {
    color: #fff !important;
}

#project-menu li.active {
    background-color: #000 !important;
}

